.homeOutlined {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 2rem;
  color: var(--primary-purple);

  @media screen and (min-width: 400px) {
    top: 2rem;
    left: 2rem;
    // font-size: 3rem;
  }
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: var(--heading-font);
  color: white;
  gap: 10px;

  &Main {
    flex-direction: column;
    width: 743px;
    height: 743px;
    background-color: var(--primary-purple);
    align-items: baseline;
    padding-left: 120px;
  }

  &Secondary {
    width: 220px;
    height: 220px;
    margin: -180px 275px 0 -334px;
    background-color: var(--secondary-pink);

    img {
      width: 90%;
    }

    @media screen and (min-width: 500px) {
      width: 280px;
      height: 280px;
      margin: -184px 190px 0 -334px;
    }

    @media screen and (min-width: 650px) {
      width: 300px;
      height: 300px;
      margin: 10px 5px 0px -190px;
    }

    @media screen and (min-width: 940px) {
      width: 461px;
      height: 461px;
      margin: 80px -140px 0;
    }
  }
}

.content {
  width: 90vw;
  height: 70%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px 10px;
  margin-left: 160px;

  //   Firefox
  scrollbar-width: thin;
  scrollbar-color: var(--primary-pink) var(--secondary-pink);

  //   Other Browsers
  &::-webkit-scrollbar {
    width: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    background: var(--primary-purple);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--primary-pink);
    border-radius: 10px;
  }

  @media screen and (min-width: 400px) {
    margin-left: 135px;
  }

  @media screen and (min-width: 500px) {
    margin-left: 90px;
    width: 65%;
  }

  @media screen and (min-width: 650px) {
    margin-left: 25px;
    width: 70%;
  }

  @media screen and (min-width: 940px) {
    margin-left: 0;
    width: 75%;
  }
}
