@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --primary-purple: #331832;
  --primary-pink: #fccac5;
  --secondary-pink: #d81e5b;
  --heading-font: "DominePlayfair Display";
  --text-font: "Domine";
}

* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

a {
  text-decoration: none;
}
