.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--heading-font);
  font-size: 4rem;

  &Cv {
    flex-direction: column;
    width: 743px;
    height: 743px;
    color: white;
    align-items: baseline;
    padding-left: 35px;

    &Subheader {
      font-size: 2rem;
    }
  }
}
